black
click
colorlog
cachetools
flake8
gitpython
httpx
h2
isort
openai
pre-commit
pydantic
pyyaml
pytest
pytest-cov
responses
ruff
tabulate
tenacity
tiktoken
toml

python-dotenv
jedi

fastapi
itsdangerous
python-docx
uvicorn

google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-auth
google-api-core

sqlalchemy
psycopg2-binary
alembic

rq
redis

azure-storage-blob