black
click
colorlog
cachetools
flake8
gitpython
httpx
h2
isort
openai
pre-commit
pydantic
pyyaml
pytest
pytest-cov
responses
ruff
tabulate
tenacity
tiktoken
toml
markdown
bs4

python-dotenv
jedi

fastapi
itsdangerous
python-docx
uvicorn
jinja2

google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-auth
google-api-core
razorpay

sqlalchemy
psycopg2-binary
alembic

rq
redis

azure-storage-blob

git+https://github.com/sendinblue/APIv3-python-library.git
git+https://github.com/the-runtime/html2docx.git
